version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: iot-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: iot_solution
      POSTGRES_USER: iot_user
      POSTGRES_PASSWORD: iot_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
